body{
    background-image: url('https://images.stockcake.com/public/3/2/4/324845f7-69e6-426b-90f1-e7c33845bb5e_large/romantic-dinner-date-stockcake.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}